@model Book.Models.Books

@{
    ViewBag.Title = "この本について";
    Layout = "~/Views/Shared/_BookLayout.cshtml";
}

<h2>この本について</h2>
<div>
    <h4>Books</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Topへ戻る", "Index")
</p>
